@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
​
​
  .image{
    width:300px;
    height:300px;
  }
  


.login {
    background-image: url(../images/picknpay.jpg);
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
}

.peanutb {
    background-image: url(../images/picknpay.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.nutella {
    background-image: url(../images/event4.jpeg);	
    background-size: cover;
    background-repeat: no-repeat;
    
}