{%extends 'products/base.html'%}

{% block content%}
{{block.super}}
<div class="container">
    <div class="row">
{% for store_item in store %}
        <div class="col-md-4">
            
        <div class="add-data">
        <a href="" data-toggle="modal" data-target="#{{store_item.id}}">
            <img src="{{store_item.category_image.url}}" class="img-responsive img-thumbnail image" alt="Image">
            <h4 class="bold">{{store_item.category}}</h4>
        </a>
    
</div>
</div>
<div class="modal fade mode" id="{{store_item.id}}" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title uppercase capital bold " id="myModalLabel">{{store_item.title}}</h3>

            </div>
            <div class="modal-body">
                <div class="container">
                    <img src="{{store_item.category_image.url}}" class="img-responsive img-thumbnail" alt="Image">
                </div>

                <p>{{store_item.description}}</p>
            </div>

          
        </div>
    </div>/
</div>
</a>


{% endfor%}
</div>
    </div>
{% endblock %}