@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');


  .image{
    width:300px;
    height:300px;
  }


  .gallery{
    width: 100%;
    max-width: 120rem;
    margin: auto;
    padding: 0 1.2rem;
  }
  .picha {
    height: 5rem;
  }
  .image-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: .5rem;
    grid-template-areas:
    'img-1 img-2 img-3 img-6'
    'img-1 img-4 img-5 img-6'
    'img-7 img-7 img-8 img-8';
  }
  .image-gallery a{
    width: 100%;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
  .image-gallery a i{
    color: rgba(255, 255, 255, .6);
    font-size: 3rem;
    z-index: 100;
    padding: 1rem 3rem;
    border: 2px solid rgba(255, 255, 255, .6);
    border-radius: .4rem;
    opacity: 0;
    transition: opacity .5s;
  }
  .image-gallery a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.3);
    opacity: 0;
    transition: opacity .5s;
  }
  .image-gallery a:hover i,
  .image-gallery a:hover::before{
    opacity: 1;
  }
  .img-1{
    grid-area: img-1;
    min-height: 20.5rem;
    background-image: url(../images/1.jpg);
  }
  .img-2{
    grid-area: img-2;
    background-image: url(../images/2.png);
    min-height: 20.5rem;
  }
  .img-3{
    grid-area: img-3;
    background-image: url(../images/4.jpeg);
    min-height: 20.5rem;
  }
  @media screen and (max-width: 900px){
    .image-gallery{
        grid-template-areas:
        'img-1 img-1 img-1 img-1'
        'img-2 img-2 img-2 img-2'
        'img-3 img-3 img-3 img-3'
        'img-4 img-4 img-4 img-4'
        'img-5 img-5 img-5 img-5'
        'img-6 img-6 img-6 img-6'
        'img-7 img-7 img-7 img-7'
        'img-8 img-8 img-8 img-8';
    }
  }
  

  
  